absl-py==1.4.0
protobuf==3.20.2
pandas==2.1.4
python-dotenv==1.0.0
readerwriterlock==1.0.9
overrides==7.4.0
fastavro==1.7.0
google-cloud-bigquery==3.29.0
google-cloud-logging==3.1.2
google-cloud-storage
pyyaml
redis==5.0.8
astunparse==1.6.3



# absl-py==2.1.0
# protobuf==5.28.2
# pandas==2.2.3
# google-cloud-logging==3.11.2
# python-dotenv==1.0.1
# readerwriterlock==1.0.9
# overrides==7.7.0
# fastavro==1.9.7
# google-cloud-bigquery==3.26.0
# google-cloud-storage==2.18.2
# pyyaml==6.0.2
