absl-py
python-dotenv
grpcio
readerwriterlock
protobuf
bayesian-optimization==1.4.3
google-cloud-logging
overrides
google-generativeai
nevergrad
smcpy
google-cloud-aiplatform
redis==5.0.5


# absl-py==2.1.0
# python-dotenv==1.0.1
# grpcio==1.66.2
# readerwriterlock==1.0.9
# protobuf==5.28.2
# bayesian-optimization==1.5.1
# google-cloud-logging==3.11.2
# overrides==7.7.0
# google-generativeai==0.8.2
# nevergrad==1.0.5
# smcpy==0.1.5
# google-cloud-aiplatform==1.69.0
